<!doctype html>
<html ng-app="dashyAppApp">
  <head>
    <meta charset="utf-8">
    <title ng-bind="($title || 'Home') "></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <span class="navbar-brand"> <span class="glyphicon glyphicon-option-vertical icon-menu"></span>  <a  href="#/">dash<span class="dashy">y</span></a></span>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/">About</a></li>
              <li><a ng-href="#/">Contact</a></li>
              
            </ul>
            <span class="pull-right"> 
            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/">About</a></li>
              <li><a ng-href="#/">TIME</a></li>
              </ul>
              </span>
          </div>

        </div>
      </div>
    </div>
    <div class="breadcrumb">
      <div class="container">
      <div class="pull-left">
           <ol>
              <li ng-repeat="crumb in $breadcrumbs" ng-class="{ 'active' : $last }">
                  <a ng-if="!$last" href="{{$state.href(crumb.state, crumb.stateParams)}}">{{crumb.title}}</a>
                  <span ng-if="$last">{{crumb.title}}</span>
              </li>
          </ol>
      </div>
          <div class="pull-right">
          
          <div class=" searchform pull-left">
           <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
          
         
      
            <i class="glyphicon glyphicon-search pull-right searchbtn"></i>

          </div>

      </div>
     </div>
     <nav>
        <ul class="menu" >
            <li>
              <i class="glyphicon glyphicon-lamp"></i>
               <span>Dashy</span>
              </li>  
               <li><a data-toggle="collapse" data-parent="#accordion" href="#dashboards"><i class="glyphicon glyphicon-home" ></i> <span>Dashboards</span></a> </li>
               <ul id="dashboards" class="collapse">
                   <li><a ui-sref="home"><i class="glyphicon glyphicon-dashboard"></i> <span>Dashboard 1</span></a></li>
                   <li><a ui-sref="dashykeymetrics"><i class="glyphicon glyphicon-dashboard"></i> <span>Dashboard 2</span></a></li>
                   <li><a ui-sref="dashydataview"><i class="glyphicon glyphicon-dashboard"></i> <span>Dashboard 3</span></a></li>
                </ul>
               <li><i class="glyphicon glyphicon-object-align-bottom"></i> <span>Charts</span></li>
               <li><i class="glyphicon glyphicon-flash"></i> <span>Flashy</span></li> 
               <li><i class="glyphicon glyphicon-sound-7-1"></i>  <span>0 reported  links</span></li>
               <li><i class="glyphicon glyphicon-stats"></i> <span>0 saved links</span></li> 
               <div class="menu-ass">
                <li><i class="glyphicon glyphicon-menu-down"></i> <span>register now</span></li> 
               <li><i class="glyphicon glyphicon-log-in"></i> <span>logout</span></li> 
             </div>
        </ul>
    </nav>
    <div class="main container">
    
    <!--<div ng-include="'views/main.html'" ng-controller="MainCtrl"></div>-->
     <div ui-view></div>
    </div>

    <div class="footer">
      <div class="container">

        <p>&copy; 2016 Dashy All Rights Reserved.</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-router-title/angular-ui-router-title.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/markerclustererplus/src/markerclusterer.js"></script>
    <script src="bower_components/google-maps-utility-library-v3-markerwithlabel/dist/markerwithlabel.js"></script>
    <script src="bower_components/google-maps-utility-library-v3-infobox/dist/infobox.js"></script>
    <script src="bower_components/google-maps-utility-library-v3-keydragzoom/dist/keydragzoom.js"></script>
    <script src="bower_components/js-rich-marker/src/richmarker.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
    <script src="bower_components/jquery.easy-pie-chart/dist/angular.easypiechart.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/dashy2.js"></script>
        <script src="scripts/controllers/dashy3.js"></script>
        <!-- endbuild -->
</body>
</html>
