<!doctype html>
<html ng-app="dashyAppApp">
  <head>
    <meta charset="utf-8">
    <title ng-bind="($title || 'Home') "></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#3a3633">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3a3633">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/favicon.ico">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-clock/dist/angular-clock.css" />
    <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <span class="navbar-brand"> <span class="glyphicon glyphicon-menu-hamburger icon-menu"></span>  <a  href="#/">dash<span class="dashy">y</span></a></span>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav menu_dash">
              <li class="active"><a ui-sref="home">Home</a></li>
              <li><a ui-sref="dashykeymetrics">Key metrics</a></li>
              <li><a ui-sref="dashydataview">Data view</a></li>
              
            </ul>
            <div class="pull-right"> 
             <span class="glyphicon glyphicon-time"></span> <ds-widget-clock show-digital digital-format="format"></ds-widget-clock> <span class="glyphicon glyphicon-option-vertical icon-menu"></span>
             <span class="circle"><img src="./images/yeoman.png" alt="User"></span>
              </div>
          </div>

        </div>
      </div>
    </div>
    <div class="breadcrumb">
      <div class="container">
      <div class="pull-left">
           <ol>
              <li ng-repeat="crumb in $breadcrumbs" ng-class="{ 'active' : $last }">
                  <a ng-if="!$last" href="{{$state.href(crumb.state, crumb.stateParams)}}">{{crumb.title}}</a>
                  <span ng-if="$last">{{crumb.title}}</span>
              </li>
          </ol>
      </div>
          <div class="pull-right">
          
          <div class=" searchform pull-left">
          <form role="form">
           <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
            </form>
            </div>
          
         
      
            <b class="glyphicon glyphicon-search pull-right searchbtn"></b>

          </div>

      </div>
     </div>
     <nav>
        <ul class="menu" >
            <li>
              <b class="glyphicon glyphicon-lamp"></b>
               <span>Dashy</span>
              </li>  
               <li><a data-toggle="collapse" data-parent="#accordion" href="#dashboards"><b class="glyphicon glyphicon-home" ></b> <span>Dashboards</span></a> </li>
               <ul id="dashboards" class="collapse">
                   <li><a ui-sref="dashykeymetrics"><b class="glyphicon glyphicon-dashboard"></b> <span>Dashboard 2</span></a></li>
                   <li><a ui-sref="dashydataview"><b class="glyphicon glyphicon-dashboard"></b> <span>Dashboard 3</span></a></li>
                </ul>
               <li><a ui-sref="dashykeymetrics"><b class="glyphicon  glyphicon-stats"></b> <span>Key metrics</span></a></li>
               <li><a ui-sref="dashydataview"><b class="glyphicon glyphicon-object-align-bottom"></b> <span>Data View</span></a></li> 
               <li><b class="glyphicon glyphicon-flash"></b>  <span>links</span></li>
               <li><b class="glyphicon  glyphicon-sound-7-1"></b> <span>links</span></li> 
               <div class="menu-ass">
                <li><b class="glyphicon glyphicon-menu-down"></b> <span>register now</span></li> 
               <li><b class="glyphicon glyphicon-log-in"></b> <span>logout</span></li> 
             </div>
        </ul>
    </nav>
    <div class="main container">
    
    <!--<div ng-include="'views/main.html'" ng-controller="MainCtrl"></div>-->
    
     <div ui-view></div>
    </div>

    <div class="footer">
      <div class="container">

        <p>&copy; 2016 Dashy All Rights Reserved.</p>
      </div>
    </div>

    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-router-title/angular-ui-router-title.js"></script>
    <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="bower_components/angular-ui-clock/dist/angular-clock.js"></script>
    <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
    <script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/light-columnfilter/angular-datatables.light-columnfilter.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/select/angular-datatables.select.js"></script>
    <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
    <!-- endbower -->
    
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/dashy2.js"></script>
        <script src="scripts/controllers/dashy3.js"></script>
        <script src="scripts/services/employees.js"></script>
        <!-- endbuild -->

</body>
</html>
