<div class="col-md-12 col-sm-12 col-xs-12">
<div class="clearfix"></div>
<div class="panel panel-default">
    <div class="panel-heading panelsecond"><span class="glyphicon glyphicon-remove marker"></span> Recent Issues <span class="pull-right glyphicon glyphicon-remove closex"></span></div>
      <div class="panel-body">
<table id="querydatatablesets" datatable="ng" class="hover table table-condensed table-responsive" width="100%">
    <thead>
     <tr class="success">
       <th>Country</th>
         <th>Customer Email</th>
         <th>Issue</th>
         <th>Sub. Date</th>
         <th>Closed. Date</th>
         <th>Employee</th>
         <th>status</th>
         </tr>
          </thead>
          <tbody>
         <tr ng-repeat="issue in items.issues | orderBy:orderProp">
          <td>{{ issue.country }}</td>
          <td>{{ issue.cust_email }}</td>
          <td>{{ issue.issu_des }}</td>
          <td>{{ issue.s_time }}</td>
          <td>{{ issue.issu_closed_time }}</td>
          <td>{{ issue.cus_name }}</td>
          <td>{{ issue.emplo_closed_name }}</td> 
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  </div>
