<div class="box-1">
  <div class="row">
  <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
    <span class="small"><span class="glyphicon glyphicon-user"></span> Total employees</span>
    <div class="stat-st">1029</div>
    <span class="glyphicon glyphicon-user stat"></span> Per Month Data
  </div>
   <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-align-center"></span> Catalog count</span>
    <div class="stat-st">1029</div>
    <span class="glyphicon glyphicon-indent-right stat red"></span> Per Month Data
  </div>
   <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-align-center"></span> Catalog count</span>
    <div class="stat-st">1029</div>
    <span class="glyphicon glyphicon-align-center stat indigo"></span> Per Month Data
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-align-center"></span> Catalog count</span>
    <div class="stat-st">1029</div>
    <span class="glyphicon glyphicon-align-center stat green"></span> Per Month Data
  </div>

   <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-align-center"></span> Catalog count</span>
    <div class="stat-st">1029</div>
    <span class="glyphicon glyphicon-align-center stat green"></span> Per Month Data
  </div>
   <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-align-center"></span> Catalog count</span>
    <div class="stat-st">1029</div>
    <span class="glyphicon glyphicon-align-center stat green"></span> Per Month Data
  </div>
  
     </div>
</div>
<div>

</div>
<div class="box-2">
  <div class="box-2-semi">
    <span class="glyphicon glyphicon-stats"></span> Live Statistics
    <ul class="nav nav-tabs pull-right">
    <li class="active"><a href="#stat1" data-toggle="tab">Home</a></li>
    <li><a href="#stat2" data-toggle="tab">Menu 2</a></li>
    <li><a href="#stat3" data-toggle="tab">Menu 3</a></li>
  </ul>
  </div>
   <div class="tab-content">
    <div id="stat1" class="tab-pane fade in active">
        Some graphs coming here soon
    </div>
    <div id="stat2" class="tab-pane fade">
        Another Some graphs coming here soon
    </div>
    <div id="stat3" class="tab-pane fade">
       some Another Some graphs coming here soon
    </div>
  </div>
  <div class="box-2-semi-up">jjj
  </div>
</div>




