<div class="box-1">
  <div class="row">
  <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
    <span class="small"><span class="glyphicon glyphicon-user"></span> Total employees</span>
    <div class="stat-st stats_em">1029</div>
    <span class="glyphicon glyphicon-chevron-up stat green"></span> Per Year Data
  </div>
 

  <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-eye-close"></span> All issues</span>
    <div class="stat-st stats_iss">1029</div>
    <span class="glyphicon glyphicon-chevron-down stat green"></span> Per Year Data
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-tint"></span> Open issues</span>
    <div class="stat-st stats_open">1029</div>
    <span class="glyphicon glyphicon-chevron-up stat red"></span> Per Year Data
  </div>

   <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-tint"></span> Closed issues</span>
    <div class="stat-st stats_cl">1029</div>
    <span class="glyphicon glyphicon-chevron-up stat red"></span> Per Year Data
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-eye-close"></span> P. customers</span>
    <div class="stat-st stats_py">1029</div>
    <span class="glyphicon glyphicon-chevron-down stat green"></span> Per Year Data
  </div>

   <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-plus-sign"></span> Customer count</span>
    <div class="stat-st stats_cu">1029</div>
    <span class="glyphicon glyphicon-chevron-up stat green"></span> Per Year Data
  </div>
   
  
     </div>
</div>
<div>

</div>
<section>
<div class="box-2">
  <div class="box-2-semi">
    <span class="glyphicon glyphicon-stats"></span> Live Statistics
    <ul class="nav nav-tabs pull-right">
    <li class="active"><a href="#stat1" data-toggle="tab"><span class="glyphicon glyphicon-time"></span> Home</a></li>
    <li><a href="#stat2" data-toggle="tab"><span class="glyphicon glyphicon-exclamation-sign"></span> Issues</a></li>
  </ul>
  <div class="clearfix"></div>
  </div>
   <div class="tab-content bor-der">
    <div id="stat1" class="tab-pane fade in active">
    <div class="row">
      <div class="col-xs-12 col-md-6 geospartial">
          <div google-chart chart="chart"></div>
      </div>
        <div class="col-xs-12 col-md-6 bar-chart">
          <canvas id="pie" class="chart chart-pie" chart-data="datapie" chart-labels="labelspie" chart-options="options"></canvas>
           <div class="chartsmall">
           <canvas  class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick" width="90%"  height="90"></canvas>
           </div>
         </div>
  </div>
  </div>
   <div id="stat2" class="tab-pane fade" style="width: 100%; height:20%;">
       <div  style="display: block; box-sizing: border-box;" class="conatainer">
        <canvas  class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"  width="300" height="300"></canvas>
        </div>
   </div>
    
  </div>
  <div class="box-2-semi-up">
    
</div>
</section>
<section class="sec-2 row">
 
<div class="col-xs-12 col-md-6">
   <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-map-marker marker"></span> Company Management Csv<span class="pull-right glyphicon glyphicon-remove closex"></span></div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr class="success">
              <th>Country</th>
              <th>Manager</th>
              <th>Company Name</th>
            </tr>
          </thead>
          <tbody>
            <tr class="info" ng-repeat="company in responseDataCsv">
              <td>{{ company.country }}</td>
              <td>{{ company.manager }}</td>
              <td>{{ company.commpanyname }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-volume-up marker"></span> Some updates <span class="pull-right glyphicon glyphicon-remove closex"></span></div>
      <div class="panel-body"><p class="alert alert-success">This page is temporarily disabled by the site administrator for some reason.<br>to enable the page.</p>
      <p class="alert alert-info">
        What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p><p class="alert alert-warning"> ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
      </p>
      </div>
  </div>

</div>

<div class="col-xs-12 col-md-6">

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-remove marker"></span> Recent Issues <span class="pull-right glyphicon glyphicon-remove closex"></span></div>
      <div class="panel-body">
        <table  class="row-border hover">
              <thead>
               <tr>
                 <th>Country</th>
                 <th>Issue</th>
                 <th>Date</th>
               </tr>
              </thead>
              <tbody>
                 <tr ng-repeat="issue in responseData.issues | filter:{ issu_status: 0 } | orderBy:orderProp" ng-if="$index < 5">
                    <td>{{ issue.country }} </td>
                     <td>{{ issue.issu_des }}</td>
                     <td>{{ issue.s_time }}</td>
                 </tr>
             </tbody>
        </table>

      </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-calendar marker"></span> Some updates Csv<span class="pull-right glyphicon glyphicon-remove closex"></span></div>
      <div class="panel-body">
       <canvas id="doughnut" class="chart chart-doughnut" chart-data="dataopen" chart-labels="labelsopen" chart-options="options"></canvas>
      </div>
  </div>


</div>
<div class="clearfix"></div>
</section>
<script>
var headertext = [];
var headers = document.querySelectorAll("thead");
var tablebody = document.querySelectorAll("tbody");

for (var i = 0; i < headers.length; i++) {
  headertext[i]=[];
  for (var j = 0, headrow; headrow = headers[i].rows[0].cells[j]; j++) {
    var current = headrow;
    headertext[i].push(current.textContent);
    }
} 

for (var h = 0, tbody; tbody = tablebody[h]; h++) {
  for (var i = 0, row; row = tbody.rows[i]; i++) {
    for (var j = 0, col; col = row.cells[j]; j++) {
      col.setAttribute("data-th", headertext[h][j]);
    } 
  }
}
</script>


