<div class="box-1">
  <div class="row">
  <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
    <span class="small"><span class="glyphicon glyphicon-user"></span> Total employees</span>
    <div class="stat-st stats_em">1029</div>
    <span class="glyphicon glyphicon-chevron-up stat green"></span> Per Month Data
  </div>
   <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon  glyphicon-eye-open"></span> Open issues</span>
    <div class="stat-st stats_em">1029</div>
    <span class="glyphicon glyphicon-chevron-up stat red"></span> Per Month Data
  </div>
   <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-tint"></span> Reported issues</span>
    <div class="stat-st stats_em">1029</div>
    <span class="glyphicon glyphicon-chevron-up stat red"></span> Per Month Data
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-eye-close"></span> Closed issues</span>
    <div class="stat-st stats_em">1029</div>
    <span class="glyphicon glyphicon-chevron-down stat green"></span> Per Month Data
  </div>

   <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-plus-sign"></span> Customer count</span>
    <div class="stat-st stats_em">1029</div>
    <span class="glyphicon glyphicon-chevron-up stat green"></span> Per Month Data
  </div>
   <div class="col-md-2 col-sm-4 col-xs-6 card-blocks">
  <span class="small"><span class="glyphicon glyphicon-stats"></span> Sales count</span>
    <div class="stat-st stats_em">1029</div>
    <span class="glyphicon glyphicon-chevron-down stat red"></span> Per Month Data
  </div>
  
     </div>
</div>
<div>

</div>
<section>
<div class="box-2">
  <div class="box-2-semi">
    <span class="glyphicon glyphicon-stats"></span> Live Statistics
    <ul class="nav nav-tabs pull-right">
    <li class="active"><a href="#stat1" data-toggle="tab"><span class="glyphicon glyphicon-time"></span> Home</a></li>
    <li><a href="#stat2" data-toggle="tab"><span class="glyphicon"></span> Menu 2</a></li>
    <li><a href="#stat3" data-toggle="tab"><span class="glyphicon"></span> Menu 3</a></li>
  </ul>
  </div>
   <div class="tab-content bor-der">
    <div id="stat1" class="tab-pane fade in active">
    <div class="row">
      <div class="col-sm-6 col-md-5 col-lg-6 geospartial">
          <div google-chart chart="chart"></div>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0 bar-chart">
        <div google-chart chart="chart2" style="width: 99%; height:90%;"></div>
      </div>
      <div>
      Hello world
      </div>
    </div>
    </div>
    <div id="stat2" class="tab-pane fade">
        Another Some graphs coming here soon
    </div>
    <div id="stat3" class="tab-pane fade">
       some Another Some graphs coming here soon
    </div>
  </div>
  <div class="box-2-semi-up">
  <div class="angular-easy">
     <span class="chart" easypiechart ng-init="options = { animate:true, duration:20, barColor:'#E67E22', scaleColor:false, lineWidth:3, lineCap:'butt' }" percent="percenteasy" options="optionseasy">
      <span class="percent" ng-bind="percenteasy"></span>
      <span class="glyphicon glyphicon-chevron-down stat red"></span><span class="pie-title">some time</span>
    </span>

    <span class="chart" easypiechart ng-init="options = { animate:true, duration:20, barColor:'#E67E22', scaleColor:false, lineWidth:3, lineCap:'butt' }" percent="percenteasy" options="optionseasy">
      <span class="percent" ng-bind="percenteasy"></span>
      <span class="glyphicon glyphicon-chevron-down stat red"></span><span class="pie-title">some time</span>
    </span>

    <span class="chart" easypiechart ng-init="options = { animate:true, duration:20, barColor:'#E67E22', scaleColor:false, lineWidth:3, lineCap:'butt' }" percent="percenteasy" options="optionseasy">
      <span class="percent" ng-bind="percenteasy"></span>
      <span class="glyphicon glyphicon-chevron-down stat red"></span><span class="pie-title">some time</span>
    </span>

    <span class="chart" easypiechart ng-init="options = { animate:true, duration:20, barColor:'#E67E22', scaleColor:false, lineWidth:3, lineCap:'butt' }" percent="percenteasy" options="optionseasy">
      <span class="percent" ng-bind="percenteasy"></span>
      <span class="glyphicon glyphicon-chevron-down stat red"></span><span class="pie-title">some time</span>
    </span>
    
    </div>
  </div>
</div>
</section>
<section class="sec-2">
<div class="col-sm-6 col-md-5 col-lg-6">
   <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-map-marker marker"></span> This Page is Disabled <span class="pull-right glyphicon glyphicon-remove closex"></span></div>
      <div class="panel-body">
        <ui-gmap-google-map 
          center='map.center' 
          zoom='map.zoom' aria-label="Google map">
          
          <ui-gmap-marker ng-repeat="marker in markers"
            coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            <ui-gmap-window>
              <div>{{marker.window.title}}</div>
            </ui-gmap-window>
          </ui-gmap-marker>
          
        </ui-gmap-google-map>
      </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading">This Page is Disabled <span class="pull-right glyphicon glyphicon-remove closex"></span></div>
      <div class="panel-body">This page is temporarily disabled by the site administrator for some reason.<br> <a href="#">Click here</a> to enable the page.
      <p>
        What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      </div>
  </div>

</div>
<div class="col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0">

<div class="panel panel-default">
    <div class="panel-heading">This Page is Disabled <span class="pull-right glyphicon glyphicon-remove closex"></span></div>
      <div class="panel-body">This page is temporarily disabled by the site administrator for some reason.<br> <a href="#">Click here</a> to enable the page.
       <p>
        What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>

      </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading">This Page is Disabled <span class="pull-right glyphicon glyphicon-remove closex"></span></div>
      <div class="panel-body">This page is temporarily disabled by the site administrator for some reason.<br> <a href="#">Click here</a> to enable the page.
      <p>
        What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      </div>
  </div>


</div>
</section>



